<footer class="mt-auto py-3 text-center border-top">
  <a class="navbar-brand text-uppercase text-info" href="#">
    St<i style="transform: scale(0.9);" class="fas fa-fw fa-book-reader "></i>ryBooks </a>
</footer>