<footer class=" mt-4 footer mt-auto py-4 bg-transparent shadow-sm border-top px-3 px-md-5 ">
  <ul class="nav footer-nav justify-content-center  ">
    <li class="nav-item animate__animated  animate__fadeInUp animate__fast animate__delay-d3s">
      <a href="/" class="nav-link ">Home</a>
    </li>
    <li class="nav-item animate__animated animate__fadeInUp animate__fast animate__delay-d4s"><a href="/stories"
        class="nav-link ">Public Stories</a>
    </li>
    <li class="nav-item animate__animated animate__fadeInUp animate__fast animate__delay-d5s"><a href="/about"
        class="nav-link ">About</a></li>
    <li class="nav-item animate__animated animate__fadeInUp animate__fast animate__delay-d6s"><a href="/contact"
        class="nav-link ">Contact</a></li>
  </ul>
  <div class="animate__animated animate__fadeIn animate__delay-d7s">
    <hr style="width: 150px;" class="mx-auto ">
  </div>

  <p class="text-center text-dark mb-1 animate__animated animate__fadeInUp animate__delay-d8s">&copy; 2021 Muhammad
    Akbar let-let</p>
</footer>