<header class="header">
  <nav class="header-havbar  py-3 navbar sticky-top navbar-expand-md navbar-light bg-transparent  shadow-sm  ">
    <div class="container navbar-container px-lg-3 ">
      <a class="navbar-brand text-uppercase text-primary animate__animated animate__fadeInLeft animate__faster  animate__delay-d2s"
        href="/">
        St<i style="transform: scale(0.9);" class="fas fa-fw fa-book-reader "></i>ryBooks</a>
      <button
        class="navbar-toggler shadow-none toggle-mobile-menu border-0 animate__animated animate__fadeInRight animate__faster  animate__delay-d4s "
        type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-capitalize" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto header-nav">
          <a class="nav-link animate__animated animate__fadeInRight animate__faster animate__delay-d3s {{setActiveClass path '/'}} "
            href="/">
            Home</a>
          <a class="nav-link animate__animated animate__fadeInRight animate__faster animate__delay-d4s {{setActiveClass path '/stories'}} "
            href="/stories">Public Stories</a>
          {{#if userAuth}}
          <a class="nav-link animate__animated animate__fadeInRight animate__faster animate__delay-d5s {{setActiveClass path '/dashboard'}} "
            href="/dashboard">Dashboard</a>
          {{/if}}
        </div>

        {{#if userAuth}}
        <form action="/auth/logout" method="post"
          class="animate__animated animate__fadeInRight animate__faster animate__delay-d6s">
          <button type="submit" class=" text-capitalize ms-4 btn btn-outline-primary  border border-primary  ">
            Logout
          </button>
        </form>
        {{else}}
        <a href="/auth" class=" text-capitalize ms-4 btn btn-outline-primary  border border-primary ">Login</a>
        {{/if}}

      </div>
    </div>
  </nav>
</header>