<header class="header">
  <nav class="header-havbar  py-3 navbar sticky-top navbar-expand-md navbar-light bg-transparent  shadow-sm  ">
    <div class="container navbar-container px-lg-3 ">
      <a class="navbar-brand text-uppercase text-primary" href="#">
        <i class="fas me-1 fa-fw fa-book-reader "></i> StoryBooks </a>
      <button class="navbar-toggler shadow-none toggle-mobile-menu border-0 " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-capitalize" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto header-nav">
          <a class="nav-link " href="/">
            Home</a>
          <a class="nav-link " href="/stories">Public Stories</a>
          <a class="nav-link " href="/dashboard">Dashboard</a>
        </div>
        <form action="/auth/post" method="post">
          <button type="submit"
            class=" text-capitalize ms-3 btn btn-outline-primary  border border-primary  shadow-none"
            href="/auth/logout">
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>