<header class="header">
  <nav class="header-havbar navbar sticky-top navbar-expand-md navbar-dark bg-primary shadow-none  ">
    <div class="container navbar-container px-lg-3 ">
      <a class="navbar-brand" href="#">
        <i class="fas me-1 fa-fw fa-book-reader "></i> StoryBooks</a>
      <button class="navbar-toggler shadow-none toggle-mobile-menu border-0 " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto header-nav-left">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/stories">Public Stories</a>
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </div>
        <nav class="nav header-nav-right">

          <a class="nav-link" href="/profile"><i class="fas fa-user fa-fw"></i></a>
          <a class="nav-link active border-start" href="/auth/logout"><i class="fas fa-fw fa-sign-out-alt me-1"></i>
            Logout</a>
        </nav>
      </div>
    </div>
  </nav>
</header>