<div style="width: 300px;" data-bs-backdrop="true" data-bs-keyboard="false"
  class="sidebar offcanvas offcanvas-start bg-light text-light" tabindex="-1" id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header pt-3 pl-2">
    <h4 class="offcanvas-title text-primary" id="offcanvasSidebarLabel">
      <i class="fas me-1 fa-fw fa-book-reader "></i> StoryBooks
    </h4>
    <button type="button" class="btn-close  text-light" data-bs-dismiss="offcanvas">

    </button>
  </div>
  <div class="offcanvas-body sidebar-body">
    <ul class="nav sidebar-nav flex-column ">
      <li class="nav-item {{setActiveClass path '/'}}  ">
        <a class="nav-link active" aria-current="page" href="/"> <i class="fas fa-fw me-1 fa-home"></i> Home</a>
      </li>
      <li class="nav-item {{setActiveClass path '/stories'}} ">
        <a class="nav-link" href="/stories"><i class="fas fa-fw me-1 fa-book-open"></i> Public Stories</a>
      </li>
      <hr class="my-0">
      <li class="nav-item {{setActiveClass path '/dashboard'}} ">
        <a class="nav-link" href="/dashboard"><i class="fas fa-fw me-1 fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item {{setActiveClass path '/profile'}} ">
        <a class="nav-link" href="/profile"><i class="fas fa-fw me-1 fa-user"></i> Profile</a>
      </li>
      <li class="nav-item">
        <a href="/auth/logout" class="nav-link "> <i class="fas fa-fw me-1 fa-sign-out-alt"></i> Logout </a>
      </li>
    </ul>
  </div>
</div>