<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/css/main.min.css">
  <script defer src="/dist/js/main.min.js"></script>
  <title>StooryBooks | Login</title>
</head>

<body>
  <div class="container login-container">
    <div class="row h-100 border border-warning">
      <div class="col-md-6 my-auto mx-auto">
        <div class="card">
          <div class="card-body">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>