.features {
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: $light;
    color: $dark;
    border-radius: 0.75rem;
    transition: 0.4s all ease-in-out;
  }

  .feature-box:hover .feature-icon {
    background-color: $primary !important;
    color: $light !important;
    transition: 0.4s all ease-in-out;
  }
}
