.header-nav {
  .nav-link {
    margin-left: 1.25rem;
    font-size: 17px;
    color: $gray-700 !important;
    &:hover {
      color: $primary !important;
    }

    &.active,
    &[aria-current="page"] {
      font-weight: 500;
      &:hover {
        font-weight: 500;
        color: $primary !important;
      }
    }
  }
}

.toggle-mobile-menu {
  color: $gray-400;
  transition: 0.2s all ease-in-out;
  &:hover {
    color: $light;
    transform: scale(1.1);
  }
}

.mobile-menu {
  & .mobile-menu-body .mobile-menu-nav {
    $py: 1rem * 0.3;
    .nav-item {
      padding: $py 0;
      &:hover {
        background-color: darken($light, $amount: 5);
      }
    }
    hr {
      color: $gray-600;
    }
    .nav-item .nav-link {
      color: $gray-600;
      &:hover {
        color: lighten($primary, $amount: 8);
      }
      &.active {
        font-weight: 800;
        color: $primary;
      }
    }
  }
}

.footer-nav {
  .nav-item .nav-link {
    color: lighten($secondary, $amount: 30) !important;
    &:hover {
      color: $light !important;
    }
    &.active {
      font-weight: 800 !important;
      color: $light !important;
    }
  }
}
