<section class="coming-soon-section text-dark mt-5 d-flex flex-column justify-content-center align-items-center h-100 ">
  <div
    class="coming-soon-icon overflow-hidden rounded-circle text-info my-2 animate__animated animate__fadeInUp animate__fast animate__delay-d5s ">
    {{> coming-soon/_icon}}
  </div>
  <h2 class="mt-4 coming-soon-title text-info animate__animated animate__zoomInUp animate__slow animate__delay-d9s">
    Coming Soon</h2>
  <h5
    class=" fw-normal my-2  text-dark coming-soon-subtitle animate__animated animate__fadeIn animate__faster animate__delay-d9s">
    This Page Under Construction</h5>

  <div class="d-flex gap-2 mt-2 py-2 animate__animated animate__fadeInUp animate__fast animate__delay-1s">
    <a href="/" class="btn btn-outline-info">Go back home</a>
  </div>
</section>