<section class="coming-soon-section text-dark mt-5 d-flex flex-column justify-content-center align-items-center h-100 ">
  <div class="coming-soon-icon overflow-hidden rounded-circle text-info my-2">
    {{> coming-soon/_icon}}
  </div>
  <h2 class="mt-4 coming-soon-title text-info ">Coming Soon</h2>
  <h5 class=" fw-normal my-2  text-dark coming-soon-subtitle"> This Page Under Construction</h5>

  <div class="d-flex gap-2 mt-2 py-2">
    <a href="/" class="btn btn-outline-info">Go back home</a>
  </div>
</section>