<section>
  <div class="px-4 py-5 my-2 text-center">
    <h5 class=" text-uppercase text-primary mb-3 animate__animated animate__fadeInUp ">
      St<i style="transform: scale(0.9);" class="fas fa-fw fa-book-reader  "></i>ryBooks
    </h5>
    <h1 class="display-5 mt-3 fw-bold animate__animated  animate__fadeInUp animate__delay-d5s">Hi, we're <span
        class="text-primary">StoryBooks</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 animate__animated animate__fadeIn animate__delay-1s">Share stories from your life with the
        world</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/stories/add"
          class="btn  btn-primary btn-lg animate__animated animate__fadeInLeft animate__delay-d8s px-4 gap-3">Start
          Writing</a>
        <a href="/stories"
          class="btn btn-outline-secondary animate__animated animate__fadeInRight btn-lg animate__delay-d9s  px-4">Explore
          Stories</a>
      </div>
    </div>

  </div>

</section>


<section class=" px-4 py-5">
  <hr style="width: 300px;" class="mt-3 mx-auto">
  <div class="row features g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col feature-box  d-flex align-items-start animate__animated  animate__fadeInUp animate__delay-d3s">
      <div class="feature-icon  flex-shrink-0 me-3">
        <i class="fas fa-pen-alt"></i>
      </div>
      <div>
        <h2>Write</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>

      </div>
    </div>
    <div class="col feature-box d-flex align-items-start animate__animated  animate__fadeInUp animate__delay-d4s">
      <div class="feature-icon  flex-shrink-0 me-3">
        <i class="fas fa-book-open "></i>
      </div>
      <div>
        <h2>Read</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>

      </div>
    </div>
    <div class="col feature-box d-flex align-items-start animate__animated  animate__fadeInUp animate__delay-d5s">
      <div class="feature-icon  flex-shrink-0 me-3">
        <i class="fas fa-book"></i>
      </div>
      <div>
        <h2>Publish</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>

      </div>
    </div>
  </div>
</section>