<div class="card-header bg-transparent pt-4 text-center">
  <h3 class="text-primary card-title"> <i class="fas fa-fw me-1 fa-book-reader "></i> StoryBooks</h3>
  <p class=" lead ">Create public and private stories from your life</p>
</div>
<div class="card-body pt-1">
  <hr class="mt-0 mb-4">
  <div class="w-100 d-flex justify-content-center ">
    <a href="" class="btn btn-danger mx-auto text-capitalize"> <i class="fab fa-google me-2 fa-fw"></i> Login With
      Google</a>
  </div>
</div>