<section class="error-section text-dark mt-3 d-flex flex-column justify-content-center align-items-center h-100 ">
  <div class="error-icon text-dark animate__animated animate__bounceIn animate__fast animate__delay-d3s">
    <i class="fas fa-sad-cry my-0"></i>
  </div>
  <h2 class="mt-0 text-dark error-title animate__faster animate__animated animate__fadeInUp animate__delay-d4s">
    Error 404
    : Page not found</h2>
  <h5
    class=" fw-normal fst-italic text-primary error-subtitle animate__faster animate__animated animate__fadeInUp animate__delay-d5s">
    Sorry, the page you're looking for isn't here</h5>
  <p class="error-text mt-2 animate__fast animate__animated animate__fadeInUp animate__delay-d6s">
    Please choose a page from main menu
  </p>
  <div class="animate__faster animate__animated animate__fadeInUp animate__delay-d7s">
    <a href="/" class="btn btn-outline-primary btn-animation">Go back home</a>
  </div>

</section>