<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb border-0 shadow-none  p-lg-0  ">
    <li class="breadcrumb-item"><a href="/" class="">Home</a></li>
    <li class="breadcrumb-item"><a href="/dashboard" class="">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Stories</li>
  </ol>
</nav>

<section class="py-3 text-center ">
  <h3 class="text-uppercase animate__animated animate__fadeInUp  animate__fast animate__delay-d2s">Edit Story</h3>
</section>

<section class="pb-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="/stories/{{story._id}}" method="POST">
        <div class="mb-3  animate__animated animate__fadeInUp  animate__fast animate__delay-d3s">
          <input type="hidden" name="_method" value="PUT">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" value="{{story.title}}">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3  animate__animated animate__fadeInUp  animate__fast animate__delay-d4s">
          <label for="status" class="form-label">Status</label>
          <select class="form-select text-capitalize" name="status" aria-label="status">
            {{#select story.status}}
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
            {{/select}}
          </select>
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3  animate__animated animate__fadeInUp  animate__fast animate__delay-d5s">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" id="body" name="body" rows="3">{{story.body}}</textarea>

          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="animate__animated animate__fadeInUp  animate__fast animate__delay-d7s">
          <button type="submit" class="btn btn-primary">Save</button>
          <a href="/dashboard" class="btn btn-dark ms-1">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</section>