<div style="width: 300px;" data-bs-backdrop="true" data-bs-keyboard="false"
  class="sidebar offcanvas offcanvas-start bg-light text-light" tabindex="-1" id="offcanvasSidebarError"
  aria-labelledby="offcanvasSidebarErrorLabel">
  <div class="offcanvas-header pt-3 pl-2">
    <h4 class="offcanvas-title  {{errorColor statusCode}} text-uppercase" id="offcanvasSidebarErrorLabel">
      St<i style="transform: scale(0.9);" class="fas fa-fw fa-book-reader "></i>ryBooks
    </h4>
    <button type="button" class="btn-close offcanvas-btn-close  text-light" data-bs-dismiss="offcanvas">
    </button>
  </div>
  <div class="offcanvas-body sidebar-body">
    <ul class="nav sidebar-nav flex-column ">
      <li class="nav-item ">
        <a class="nav-link  {{setErrorClass statusCode 'nav-link-danger' ''}}  " aria-current="page" href="/"> <i
            class="fas fa-fw me-1 fa-home"></i>
          Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{setErrorClass statusCode 'nav-link-danger' ''}}" href="/about"><i
            class="fas fa-fw me-1 fa-window-maximize "></i> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{setErrorClass statusCode 'nav-link-danger' ''}}" href="/contact"><i
            class="fas fa-fw me-1 fa-question-circle "></i> Contact
        </a>
      </li>
    </ul>
  </div>
</div>